.gitattributes !filter !diff
.env.* filter=git-crypt diff=git-crypt merge=ours
.env.*.local filter=git-crypt diff=git-crypt merge=ours
.env.local filter=git-crypt diff=git-crypt merge=ours
config/default.json filter=git-crypt diff=git-crypt merge=ours
config/production.json filter=git-crypt diff=git-crypt merge=ours
config/development.json filter=git-crypt diff=git-crypt merge=ours
